/Ejercicio02/build/
/Ejercicio04/nbproject/private/
/Ejercicio04/build/
/Ejercicio05/nbproject/private/
/Ejercicio05/build/
/Ejercicio05 - copia/build/
/Ejercicio05 - copia/nbproject/private/
/Ejercicio06/build/
/Ejercicio06/nbproject/private/
/Ejercicio06 - copia/build/
/Ejercicio06 - copia/nbproject/private/
/Ejercicio07/nbproject/private/
/Ejercicio07/build/
/Ejercicio10/build/
